#container {height:100%;}
.loginForm {
	position:absolute;
	width:400px;
	height:400px;
	text-align:center;
	top:40%;
	left:50%;
	transform:translate(-50%,-50%);
}

.loginForm h2{ text-align:center; margin:30px;}

.input_area{ border-bottom:2px solid #adadad; margin:40px; padding:10px 10px;}
.input_area p {display:flex;}
.input_area p input { margin: 10px 0px;}

#userId, #userPass, #userName, #userPhon, 
#sample2_postcode, #sample2_address, #sample2_detailAddress, #sample2_extraAddress {
	width:100%;
	border:none;
	outline:none;
	font-size:16px;
	height:25px;
	background: none;
}

#signin_btn, #signup_btn{
	position:relative;
	margin:20px 0;
	width:80%;
	height:40px;
	font-weight:bold;
	border:none;
	transition-duration:0.7s;
}
#signin_btn:hover, #signup_btn:hover{ color:#fff; background:#000;}

.bottomText { text-align:center; text-decoration:none;}