div.goods div.goodsImg {float:left; width:350px; margin-left:100px;}
div.goods div.goodsImg img{width:350px; height:auto;}

div.goods div.goodsInfo {float:right; width:330px; fint-size:22px;}
div.goods div.goodsInfo p {margin:0 0 20px 0;}
div.goods div.goodsInfo p span {display:inline-block; width:100px; margin-right:15px;}

div.goods div.goodsInfo p.cartStock input {font-size:16px; width:50px; padding:5px; margin:0; border: 1px solid #eee;}
div.goods div.goodsInfo p.cartStock button {font-size: 26px; border: none; background:none;}
div.goods div.goodsInfo p.addToCart {text-align:right;}
div.goods div.goodsInfo p.addToCart button {font-size:16px; padding:5px 10px; border:1px solid #eee; background:#eee; border:none; outline:none; border-radius:5px; transition-duration:0.5s;}
div.goods div.goodsInfo p.addToCart button:hover {color:#fff; background:#000;} 
div.goods div.gdsDes {font-size:18px; clear:both; padding-top:30px;}

div.goods div.Info { margin:0 0 50px 100px;} 
div.goods div.Info p#title {display:inline-block; width:20%; font-weight:bold;}
div.goods div.Info p#info {display:inline-block;}

div#reply {margin:0 0 0 100px;}
section.replyForm {padding:30px 0;}
section.replyForm div.input_area {margin:10px 0;}
section.replyForm textarea {font-size:16px; font-family:"맑은 고딕", verdana; padding:10px; width:500px; height:150px; resize:none;}
section.replyForm button {font-size:20px; padding:5px 10px; margin:10px 0; background:#eee; border:1px solid #ccc; border:none; outline:none; border-radius:5px; transition-duration:0.5s;}
section.replyForm button:hover { color:#fff; background:#000;}

section.replyList {padding:30px 0;}
section.replyList ol {padding:0; margin:0;}
section.replyList ol li {padding:10px 0; border-bottom:2px solid #eee;}
section.replyList div.userInfo{}
section.replyList div.userInfo .userName {font-size:24px; font-weight:bold;}
section.replyList div.userInfo .date {color:#999; display:inline-block; margin-left:10px;}
section.replyList div.replyContent {padding:10px; margin:20px 0;}

section.replyList div.replyFooter {margin-bottom:10px; text-align:right;}
section.replyList div.replyFooter button {font-size:14px; font-weight:bold; border:1px solid #999; background:#eee; margin-right:10px; border:none; outline:none; border-radius:5px; padding:10px; transition-duration:0.7s;}
section.replyList div.replyFooter button:hover {color:#fff; background:#000; }

div.replyModal {position:relative; z-index:1; display:none;}
div.modalBackground {position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.8); z-index:-1;}
div.modalContent {position:fixed; top:20%; left:calc(50% - 250px); width:500px; height:250px; padding:20px 10px; background:#fff; border:2px solid #666;}
div.modalContent textarea {font-size:16px; font-family:"맑은 고딕", verdana; padding:10px; width:500px; height:200px; resize:none;}
div.modalContent button {font-size:20px; font-weight:bold; padding:5px 10px; margin:10px 0; background:#eee; border:1px solid #ccc;  border:none; outline:none; border-radius:5px; transition-duration:0.5s;}
div.modalContent button:hover {color:#fff; background:#000; }
div.modalContent button.modal_cancel {margin-left:20px;}
